.title  {
    color: #50A9B0;
    font-size: 50px;
  }
.user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    padding: 12px;
    text-align: left;
    font-size: 10px;
    border-bottom: 1px solid #FF8F45 ;
    text-align: right;
  }
  
  .user-table th {
    background-color: white;
  }
 
  .div{
   border-color: #FF8F45;

   border-color: #FF8F45;
    border-style: ridge;
    border-width: 2px;
  }
  















  